/* client/src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-oatmilk;
  }
}

@font-face {
  font-family: "SuperWoobly";
  src: url("/fonts/SuperWoobly.ttf") format("truetype");
}

@font-face {
  font-family: "SuperVibes";
  src: url("/fonts/SuperVibes.otf") format("opentype");
}

@font-face {
  font-family: "Merchandise";
  src: url("/fonts/Merchandise.ttf") format("truetype");
}
